// global declarations
/*
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #FFF;
  color: #000;
  display: table;
  font-family: Arial, Helvetica, sans-serif;
  font-size: percentage($default-font-size/16px);
  height: 100%;
  line-height: $default-line-height;
  padding-bottom: 4em;
  padding-top: 4em;
  margin: 0;
  width: 100%;
}

body.noselect {
  @include user-select(none);
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

header-title {
	font-family: 'Le Havre Rough';
	font-size: 3em;
	font-weight: normal;
	letter-spacing: -1;
	line-height: normal;
	color: #000;
	text-align: center;
	text-shadow: 2px 2px 3px #000;
	margin: 0 auto;
}

.form-title {
	font-family: 'Le Havre Rough';
	font-size: 1.2em !important;
	font-weight: normal;
	letter-spacing: -1;
	padding-top: 20px;
}

h3 {
	font-family: 'Le Havre Rough';
	font-weight: normal;
	letter-spacing: -1;
	line-height: normal;
	padding-bottom: 20px;
}

h3 a {
	color: #C00;
}

h3 a:hover {
	color: #222;
}

.left { float: left; }
.right { float: right; }

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
*/