// global declarations
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background: #000 url(../images/bpp_bg_2.jpg) no-repeat center center;
  -webkit-background-size: 100%; 
    	-moz-background-size: 100%; 
    	-o-background-size: 100%; 
    	background-size: 100%; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
  color: #EADECD;
  display: table;
  font-family: Arial, Helvetica, sans-serif;
  font-size: percentage($default-font-size/16px);
  height: 100%;
  line-height: $default-line-height;
  padding-bottom: 4em;
  padding-top: 4em;
  margin: 0;
  width: 100%;
}

body.noselect {
  @include user-select(none);
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
	font-family: 'Le Havre Rough';
	font-size: 3em;
	letter-spacing: -1;
	line-height: normal;
	color: #EADECD;
	text-align: center;
	text-shadow: 2px 2px 3px #000;
}

h2 {
	font-family: 'Le Havre Rough';
	letter-spacing: -1;
	font-size: 1.2em !important;
	padding-top: 20px;
}

h3 {
	font-family: 'Le Havre Rough';
	letter-spacing: -1;
	line-height: normal;
	padding-bottom: 20px;
}

h3 a {
	color: #C99342;
}

h3 a:hover {
	color: #7ECA97;
}

.left { float: left; }
.right { float: right; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
