%header#header
  .wrapper.clearfix.header-top
    
    %h1.header-title Panther Doc Moderator Tool 
    %h3.header-subtitle Use this tool to create moderator cards for the Black Panthers Movie Q&As. It's an internal tool and not meant to be shared outside of the marketing team. Thanks!
